<a href="https://colab.research.google.com/github/AnaPaulaPaludo/Day-3-Revis-o-Libs-DEX/blob/main/Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [ ]:
#Numpy é para Array, Matriz
#Pandas é para dados tabulares
#Seaborn é para fazer gráfico

#editando branch

In [27]:
data = {"Nome":["Nicolas", "Daniel", "Julia"],"Idade":[25,29,23],"Cidade":["São Paulo","Cotia","Curitiba"]}

In [4]:
#Dataframe é o formato como o Pandas trabalha com dados. Dataframe PySpark

In [28]:
df = pd.DataFrame(data)

In [10]:
df.head()

      Nome Idade
0  Nicolas    25
1   Daniel    29
2    Julia    23

In [32]:
df.dtypes

Nome      object
Idade      int64
Cidade    object
dtype: object

In [11]:
df.shape

(3, 2)

In [30]:
df.describe() #descreve os dados numericos do dataframe

           Idade
count   3.000000
mean   25.666667
std     3.055050
min    23.000000
25%    24.000000
50%    25.000000
75%    27.000000
max    29.000000

In [29]:
df.describe(include="all")

           Nome      Idade     Cidade
count         3   3.000000          3
unique        3        NaN          3
top     Nicolas        NaN  São Paulo
freq          1        NaN          1
mean        NaN  25.666667        NaN
std         NaN   3.055050        NaN
min         NaN  23.000000        NaN
25%         NaN  24.000000        NaN
50%         NaN  25.000000        NaN
75%         NaN  27.000000        NaN
max         NaN  29.000000        NaN

In [33]:
df.describe(include=object)

           Nome     Cidade
count         3          3
unique        3          3
top     Nicolas  São Paulo
freq          1          1

In [26]:
help(pd.DataFrame.describe)

Help on function describe in module pandas.core.generic:

describe(self: 'FrameOrSeries', percentiles=None, include=None, exclude=None, datetime_is_numeric=False) -> 'FrameOrSeries'
    Generate descriptive statistics.

    Descriptive statistics include those that summarize the central
    tendency, dispersion and shape of a
    dataset's distribution, excluding ``NaN`` values.

    Analyzes both numeric and object series, as well
    as ``DataFrame`` column sets of mixed data types. The output
    will vary depending on what is provided. Refer to the notes
    below for more detail.

    Parameters
    ----------
    percentiles : list-like of numbers, optional
        The percentiles to include in the output. All should
        fall between 0 and 1. The default is
        ``[.25, .5, .75]``, which returns the 25th, 50th, and
        75th percentiles.
    include : 'all', list-like of dtypes or None (default), optional
        A white list of data types to include in the result. Ignored
        for ``Series``. Here are the options:

        - 'all' : All columns of the input will be included in the output.
        - A list-like of dtypes : Limits the results to the
          provided data types.
          To limit the result to numeric types submit
          ``numpy.number``. To limit it instead to object columns submit
          the ``numpy.object`` data type. Strings
          can also be used in the style of
          ``select_dtypes`` (e.g. ``df.describe(include=['O'])``). To
          select pandas categorical columns, use ``'category'``
        - None (default) : The result will include all numeric columns.
    exclude : list-like of dtypes or None (default), optional,
        A black list of data types to omit from the result. Ignored
        for ``Series``. Here are the options:

        - A list-like of dtypes : Excludes the provided data types
          from the result. To exclude numeric types submit
          ``numpy.number``. To exclude object columns submit the data
          type ``numpy.object``. Strings can also be used in the style of
          ``select_dtypes`` (e.g. ``df.describe(include=['O'])``). To
          exclude pandas categorical columns, use ``'category'``
        - None (default) : The result will exclude nothing.
    datetime_is_numeric : bool, default False
        Whether to treat datetime dtypes as numeric. This affects statistics
        calculated for the column. For DataFrame input, this also
        controls whether datetime columns are included by default.

        .. versionadded:: 1.1.0

    Returns
    -------
    Series or DataFrame
        Summary statistics of the Series or Dataframe provided.

    See Also
    --------
    DataFrame.count: Count number of non-NA/null observations.
    DataFrame.max: Maximum of the values in the object.
    DataFrame.min: Minimum of the values in the object.
    DataFrame.mean: Mean of the values.
    DataFrame.std: Standard deviation of the observations.
    DataFrame.select_dtypes: Subset of a DataFrame including/excluding
        columns based on their dtype.

    Notes
    -----
    For numeric data, the result's index will include ``count``,
    ``mean``, ``std``, ``min``, ``max`` as well as lower, ``50`` and
    upper percentiles. By default the lower percentile is ``25`` and the
    upper percentile is ``75``. The ``50`` percentile is the
    same as the median.

    For object data (e.g. strings or timestamps), the result's index
    will include ``count``, ``unique``, ``top``, and ``freq``. The ``top``
    is the most common value. The ``freq`` is the most common value's
    frequency. Timestamps also include the ``first`` and ``last`` items.

    If multiple object values have the highest count, then the
    ``count`` and ``top`` results will be arbitrarily chosen from
    among those with the highest count.

    For mixed data types provided via a ``DataFrame``, the default is to
    return only an analysis of numeric columns. If the dataframe consists
    only of object and categorical data without any numeric columns, the
    default is to return an analysis of both the object and categorical
    columns. If ``include='all'`` is provided as an option, the result
    will include a union of attributes of each type.

    The `include` and `exclude` parameters can be used to limit
    which columns in a ``DataFrame`` are analyzed for the output.
    The parameters are ignored when analyzing a ``Series``.

    Examples
    --------
    Describing a numeric ``Series``.

    >>> s = pd.Series([1, 2, 3])
    >>> s.describe()
    count    3.0
    mean     2.0
    std      1.0
    min      1.0
    25%      1.5
    50%      2.0
    75%      2.5
    max      3.0
    dtype: float64

    Describing a categorical ``Series``.

    >>> s = pd.Series(['a', 'a', 'b', 'c'])
    >>> s.describe()
    count     4
    unique    3
    top       a
    freq      2
    dtype: object

    Describing a timestamp ``Series``.

    >>> s = pd.Series([
    ...   np.datetime64("2000-01-01"),
    ...   np.datetime64("2010-01-01"),
    ...   np.datetime64("2010-01-01")
    ... ])
    >>> s.describe(datetime_is_numeric=True)
    count                      3
    mean     2006-09-01 08:00:00
    min      2000-01-01 00:00:00
    25%      2004-12-31 12:00:00
    50%      2010-01-01 00:00:00
    75%      2010-01-01 00:00:00
    max      2010-01-01 00:00:00
    dtype: object

    Describing a ``DataFrame``. By default only numeric fields
    are returned.

    >>> df = pd.DataFrame({'categorical': pd.Categorical(['d','e','f']),
    ...                    'numeric': [1, 2, 3],
    ...                    'object': ['a', 'b', 'c']
    ...                   })
    >>> df.describe()
           numeric
    count      3.0
    mean       2.0
    std        1.0
    min        1.0
    25%        1.5
    50%        2.0
    75%        2.5
    max        3.0

    Describing all columns of a ``DataFrame`` regardless of data type.

    >>> df.describe(include='all')  # doctest: +SKIP
           categorical  numeric object
    count            3      3.0      3
    unique           3      NaN      3
    top              f      NaN      a
    freq             1      NaN      1
    mean           NaN      2.0    NaN
    std            NaN      1.0    NaN
    min            NaN      1.0    NaN
    25%            NaN      1.5    NaN
    50%            NaN      2.0    NaN
    75%            NaN      2.5    NaN
    max            NaN      3.0    NaN

    Describing a column from a ``DataFrame`` by accessing it as
    an attribute.

    >>> df.numeric.describe()
    count    3.0
    mean     2.0
    std      1.0
    min      1.0
    25%      1.5
    50%      2.0
    75%      2.5
    max      3.0
    Name: numeric, dtype: float64

    Including only numeric columns in a ``DataFrame`` description.

    >>> df.describe(include=[np.number])
           numeric
    count      3.0
    mean       2.0
    std        1.0
    min        1.0
    25%        1.5
    50%        2.0
    75%        2.5
    max        3.0

    Including only string columns in a ``DataFrame`` description.

    >>> df.describe(include=[object])  # doctest: +SKIP
           object
    count       3
    unique      3
    top         a
    freq        1

    Including only categorical columns from a ``DataFrame`` description.

    >>> df.describe(include=['category'])
           categorical
    count            3
    unique           3
    top              d
    freq             1

    Excluding numeric columns from a ``DataFrame`` description.

    >>> df.describe(exclude=[np.number])  # doctest: +SKIP
           categorical object
    count            3      3
    unique           3      3
    top              f      a
    freq             1      1

    Excluding object columns from a ``DataFrame`` description.

    >>> df.describe(exclude=[object])  # doctest: +SKIP
           categorical  numeric
    count            3      3.0
    unique           3      NaN
    top              f      NaN
    freq             1      NaN
    mean           NaN      2.0
    std            NaN      1.0
    min            NaN      1.0
    25%            NaN      1.5
    50%            NaN      2.0
    75%            NaN      2.5
    max            NaN      3.0

In [ ]:
from google.colab import files
uploaded=files.upload()

In [ ]:
dfSalary = pd.read_csv('Salary Dataset.csv',sep=';')

In [ ]:
dfSalary.head() #mostrar os 5 primeiros elementos do dataframe, caso coloque um valor dentro, irá printar a quantidade solicitada

In [ ]:
dfSalary.tail() #mostra os 5 utlimos elementos do dataframe

In [ ]:
dfSalary.shape

In [ ]:
dfSalary.dtypes

In [ ]:
dfSalary.describe()

In [ ]:
dfSalary.describe(include=object)

In [ ]:
dfSalary['Location'].unique

In [ ]:
#EDA: Exploratory Data Analisys

In [ ]:
dfSalary.isna().sum() #isnull e isna é basicamente a mesma coisa

In [ ]:
dfSalary[df['Company Name'].isna()]
dfSalary.loc[pd.isnull(df['Company Name'])] # se nao funcionar tentar iloc

In [ ]:
#dfSalary['Salary Reported'].fillna(dfSalary['Salary Reported'].mode)# coloca a moda dos valores nas linhas que tem o campo Salario vazio

In [ ]:
dfSalary=dfSalary['Company Name'].dropna()

In [ ]:
dfSalary.isna().sum()

In [ ]:
variavel = df.describe().loc['Linha','Coluna']

In [ ]:
type(dfSalary)

In [ ]:
type(dfSalary['Salary'])

In [ ]:
dfSalary['Salary'].str.split('/',expand=True)

In [ ]:
dfSalary [['Salary','Salary Unit']]= dfSalary['Salary'].str.split('/',expand=True)

In [ ]:
dfSalary['Salary']=dfSalary['Salary'].apply(lambda x: x.lstrip('simbulo da rupia').replace(',','')) #apply, aplica o que esta em parenteses.
#lambda variavel para fazer o apply para cada um dos elementos da coluna setada

In [ ]:
dfSalary['Salary']=dfSalary['Salary'].astype(int)

In [ ]:
dfSalary.dtypes

In [ ]:
pd.set_option('display.float_format',lambda x: '%.2f'%x)

In [ ]:
dfSalary.describe()

In [ ]:
df[df['Salary']==26.00]

In [ ]:
# Resolver problema de unidade de salario, hora para mes para ano
# dfSalary['Salary']=dfSalary['Salary','Salary Unit'].apply(lambda x: x['Salary']*conversão hora para ano if x['Salary Unit']=="hr"(x['Salary']*conversão mes para ano if x['Salary Unit']=="mounth" else x['Salary']))
# Converter para real
# dfSalary['Salary']=dfSalary['Salary'].apply(lambda x: x*conversão da moeda)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
# Qual é melhor MaTPLOT LIB, SEABORN ou PLOTLY? depende para o que voce irá utilizar

In [ ]:
sns.histplot(dfSalary['Salary'])

In [ ]:
dfGroupLocation = dfSalary.groupby('Location')['Salary'].agg('mean').reset_index()

In [ ]:
sns.barplot(x='Location',y='Salary',data=dfGroupLocation)

In [ ]:
sns.boxplot(y='Salary',x='Job Title',data=dfSalary[dfSalary['Company Name']=="IBM"]